
.content {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        size:12p; 
        max-width: 900px;
        margin: 100px;} 
        
.pro { 
     margin: 100px;
     margin-top: 8px}

.conteuneur { display: flex; justify-content: space-between; margin-left: 100px}

.image {
        width: 20px ;
         height: 20px;}

.bold { width: 80%; height: 5%;}

hr {color: rgb(167, 182, 34); border:top 4px;
}

.right {
      float: right;
      margin-top :0px;}

.img {
       display: inline} 

